# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Package / build artifacts
*.egg-info/
dist/
build/
*.egg
.eggs/
outputs/

# Virtual environments
.venv/
.compvenv/
venv/
env/

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Notebooks checkpoints
.ipynb_checkpoints/
/target
